{% extends "base.html" %}
{% load static %}

{% block title %}Задачи на день{% endblock %}

{% block extra_head %}
  <script src="{% static 'js/script.js' %}"></script>
{% endblock %}

{% block main_content %}
  {% if tag %}
    <h1>Текущие задачи с тэгом "{{ tag.name }}"</h1>
    <p><i class="fa fa-download"></i>&nbsp;<a href="{% url "tasks:export_slug" tag %}">экспорт</a></p>
  {% else %}
    <h1>Все текущие задачи</h1>
    <p><i class="fa fa-download"></i>&nbsp;<a href="{% url "tasks:export" %}">экспорт</a></p>
  {% endif %}
  <!--<p><i class="fa fa-download"></i>&nbsp;<a href="{% url "tasks:export" %}">экспорт</a></p>-->
  {% for t in all_tags %}
    {% if forloop.first %}<ul class="list-inline">
          <li class="list-inline-item">тэги:</li>
          <li class="list-inline-item">
          <a href="{% url "tasks:list" %}">
          {% if tag %}
            <span class="badge badge-info">Все теги</span>
          {% else %}
            <span class="badge badge-success">Все теги</span>
          {% endif %}
          </a>
    {% endif %}
    <li class="list-inline-item">
      {% if t.slug %}
        {% if t.pk == tag.pk %}
          <a href="{% url "tasks:list" %}">
        {% else %}
              <a href="{% url "tasks:list_by_tag" t.slug %}">
        {% endif %}
      {% else %}
          <a href="{% url "tasks:list" %}">
      {% endif %}
      {% if t.pk == tag.pk %}
        <span class="badge badge-success">{{ t.name }}</span
      {% else %}
        <span class="badge badge-info">{{ t.name }}</span>
      {% endif %}
      </a>
    </li>
    {% if forloop.last %}</ul>{% endif %}
  {% endfor %}

  <hr/>
  <ol id="todo-list">
  {% for task in tasks %}
    {% if task.is_completed %}
    <li class="completed">
      <input class='checkbox' data-uid={{ task.id }} type='checkbox' disabled='disabled' checked='checked'/>
    {% else %}
    <li>
      <input class='checkbox' data-uid={{ task.id }} type='checkbox' />
    {% endif %}
      {% if task.priority == task.PRIORITY_HIGH %}
      <span class="badge badge-pill badge-danger">&nbsp;</span>
      {% elif task.priority == task.PRIORITY_MEDIUM %}
      <span class="badge badge-pill badge-secondary">&nbsp;</span>
      {% elif task.priority == task.PRIORITY_LOW %}
      <span class="badge badge-pill badge-success">&nbsp;</span>
      {% endif %}
      <a href={% url "tasks:details" task.id %}>{{ task }} <a><FONT size="-2">({{ task.tags.all|join:", " }})</FONT></a></a>
      {% if tag %}
        <a class="remove" href={% url "tasks:delete" task.id tag.slug %}>X</a>
      {% else %}
        <a class="remove" href={% url "tasks:delete" task.id %}>X</a>
    {% endif %}
      <hr/>
    </li>
  {% endfor %}
  </ol>
{% endblock %} )